.users-wrapper {
    margin: 10rem;
    th {
        width: 5rem !important;
    }
    .delete-td {
        display: flex;
        justify-content: center;
        img {
            height: 2rem;
            cursor: pointer;
        }
    }
}