<app-header>
</app-header>
<div class="users-wrapper">
    <table id="users-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Sorszám
                </th>
                <th class="th-sm">Név
                </th>
                <th class="th-sm">E-mail
                </th>
                <th class="th-sm">Státusz
                </th>
                <th class="th-sm">Törlés
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index;">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td class="delete-td"><img *ngIf="user.email!='admin@admin.com'" src="../../../assets/icons/delete.png" (click)="deleteUser(user.id)"></td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

</div>