<div class="container">
    <div class="sidenav"></div>
    <div class="main">

        <div class="col-md-7 col-sm-2">
            <div class="login-main-text  text-secondary">
                <div class="login-main-text__heading">citiesineurope.</div>
                <div class="login-main-text__desc">Üdvözöljük</div>
            </div>
            <div class="login-form">
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>E-mail cím</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <div class="btns">
                        <div class="btns__login ">
                            <button class=" btn btn-primary" type=" submit ">Bejelentkezés</button>
                        </div>
                        <div class="btns__signup ">
                            <button class=" btn btn-black" type="submit " (click)="getCities() ">Regisztráció</button>
                        </div>
                    </div>
                    <div class="spinner-wrapper">
                        <div *ngIf="isLoading" class="spinner-wrapper__spinner spinner-border text-secondary " role="!isLoading "></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>