<app-header>
</app-header>
<div *ngIf="!isLoading" class="wrapper shadow-lg  bg-white rounded">
    <div class="content">
        <div class="content__img"><img src="../../../../assets/images/{{city.imgUrl}}" alt=""></div>
        <div class="content__text">
            <div class="content__text__name">{{city.name}}</div>
            <div class="content__text__short-desc  text-secondary">{{city.shortDesc}}</div>
            <div class="content__text__full-desc  text-secondary">{{city.fullDesc}}</div>
        </div>
    </div>
</div>