<app-header (isLoginEventEmitter)="switchMode($event)"></app-header>
<div class="container">
    <div class="sidenav"></div>
    <div class="main">

        <div class="col-md-7 col-sm-2">
            <div class="login-main-text  text-secondary">
                <div class="login-main-text__heading">citiesineurope.</div>
                <div class="login-main-text__desc">{{getMode()}}</div>
            </div>
            <div class="login-form">
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="!isLoginMode" class="form-group">
                        <label>Név</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>E-mail cím</label>
                        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <div *ngIf="error" class="error alert alert-danger">{{error}}</div>
                </form>
                <div class="btns">
                    <div class="btns__signup">
                        <button class=" btn btn-primary" type="submit" (click)="onSubmit()">{{getMode()}}</button>
                    </div>
                </div>
                <div class="spinner-wrapper">
                    <div *ngIf="isLoading" class="spinner-wrapper__spinner spinner-border text-secondary " role="!isLoading "></div>
                </div>
            </div>
        </div>
    </div>
</div>