            .wrapper {
                margin: 10vh;
                display: flex;
                justify-content: center;
                .row {
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
            }
            
            .card {
                border: none;
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                overflow: hidden;
                border-radius: 20px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.268);
                margin-top: 2rem;
                height: 18vw;
                &:hover {
                    transform: scale(0.98);
                }
                .embed-responsive {
                    z-index: 1;
                    position: relative;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        filter: grayscale(90%);
                        &:hover {
                            opacity: 1;
                            filter: grayscale(0);
                        }
                    }
                    .text {
                        margin-left: 2rem;
                        &__city-name {
                            font-weight: 600;
                            color: #884040;
                            font-size: 2rem;
                        }
                    }
                }
                .card-footer {
                    .media {
                        font-weight: 700;
                        font-size: 0.8rem;
                        width: 80%;
                    }
                }
                .card-meta {
                    color: white;
                    font-size: 1rem;
                    font-weight: 800;
                }
                .card-body {
                    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                    .card-title {
                        font-size: 1.5rem;
                    }
                }
                &:hover {
                    .card-body {
                        margin-top: 30px;
                        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                    }
                    cursor: pointer;
                    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                }
                .card-img-overlay {
                    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
            
            @media (max-width: 812px) {
                .wrapper {
                    margin-top: 5rem !important;
                    margin: 1rem;
                    margin: 0 auto;
                    .container {
                        .row {
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            .col-md-5 {
                                margin: 0 auto;
                                display: flex;
                                justify-content: center;
                            }
                            .card {
                                width: 60vw;
                                height: 40vw;
                                font-size: 1rem;
                                .embed-responsive {
                                    .text {
                                        &__city-name {
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }