<section class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-5" *ngFor="let city of cities">
                <div class="card text-white card-has-bg click-col" (click)="getSingleCity(city.name)">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="../../../../assets//images/{{city.imgUrl}}" />
                        <div class="text">
                            <div class="text__city-name">{{city.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>